@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Oswald&family=Source+Sans+Pro:ital,wght@1,600&display=swap');

/* General*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Hk Grotesk', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --black: #000;
    --pink: #ff3258;
    --white: #f0e9f2;
    --white-1: #e5e5e6da;


    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;

    --border-light: 1px solid rgb(36, 35, 35);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media(max-width:1000px){
    html{
        font-size: 52%;
    }
}

body {
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 400;
    color: var(--white-1);
    line-height: var(--line-height-normal);
    
    overflow-x: hidden;
}

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

@media(max-width: 1340px) {
    .row {
        max-width: 1100px;
    }
}

@media(max-width: 1240px) {
    .row {
        padding: 0 var(--gutter-medium);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-normal);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-small);
    }
}

section {
    padding: var(--gutter-huge) 0;
    border-bottom: var(--border-light);
}

img {
    object-fit: contain;
    max-width: 100%;
}

/* Head and paragraphs*/
h1,
h2,
h3 {
   
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);
}

h2{
    color: #fff;
    letter-spacing: 5px;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #ec14c8,
   
    0 0 102px #ec14c8;
   
}

.heading-primary {
    line-height: 1;
    font-size: var(--font-size-huge);
    font-weight: 400;
    letter-spacing: 5px;
    -webkit-box-reflect: below 0.5px linear-gradient(transparent,#0008);
    line-height: 0.50em;
    outline: none;
    animation: animate 5s linear infinite;

}

@keyframes animate{
    0%, 18%, 20%, 50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #7a7c7c;
        text-shadow: none;
    }
     18.1% , 20.1% , 30%, 50%, 60.1% , 65% , 80.1% , 90%, 92.1%, 100%
    {
        color: #fff;
        text-shadow: 0 0 10px #64f060,
        0 0 20px #64f060,
        0 0 40px #64f060,
        0 0 80px #64f060,
        0 0 160px #64f060
        ;
    }
}



@media(max-width: 900px) {
    .heading-primary {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-medium);
    
}

.technologies{
    padding-left: 40px;
}



h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--white);
    margin: var(--gutter-small) 0;
}

h3 {
    font-size: var(--font-size-medium-1);
    margin-bottom: var(--gutter-small);
}

@media(max-width: 500px) {
    .heading-primary {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-medium-1);
    }

    h3 {
        font-size: var(--font-size-medium);
    }
}

p {
    margin: var(--gutter-small-1) 0;
}

@media(max-width: 900px) {
    p { 
        max-width: var(--container-small-width);
    }
}

/*Buttons*/

a {
    color: var(--white);
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
}

::-moz-focus-inner {
    border: 0;
}

button:focus,
a:focus {
    outline: 2px solid var(--teal);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
    outline: none;
}

.link:hover {
    color: teal;
}


    .btn {
        position: relative;
        display: inline-block;
        padding: 1rem 4.2rem;
        text-decoration: none;
        border-radius: 5px;
        color: inherit;
        border: 1px solid  teal;
        font-weight: 400;
    }
    





.btn:focus {
    outline: none;
}

.btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover{
    background-color: teal;
}


.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: teal;
}

.btn--teal {
    background: teal;
    transition: all 0.2s;
}

.btn--teal::after {
    display: none;
}

.btn--teal:hover,
.btn--teal:focus {
    background: transparent;
}

.link_text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid teal;
}

.link_text::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link_text:focus {
    outline: none;
}

.link_text:hover::after,
.link_text:focus:after {
    right: 0;
    background: teal;
}

.link_text span {
    padding-left: 1rem;
    font-family: sans-serif;
}



/* Return Top */

.back-to-top {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: 5.5rem;
    
    border-radius: 50%;
    z-index: 10;
  
    transition: all .4s;
}

.back-to-top_image {
    height: 70%;
}

.back-to-top_image {
    height: 70%;
}

@media(max-width: 900px) {
    .back-to-top {
        right: 2rem;
    }
}

@media(max-width: 500px) {
    .back-to-top {
        right: 1rem;
    }
}


/* Navigation Bar */

.nav {
    display: flex;
    justify-content: flex-end;
    padding: var(--gutter-normal) 0;
    
}

.nav_items {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.nav_item:not(:last-child) {
    margin-right: var(--gutter-medium);
}

@media(max-width: 500px) {
    .nav {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .nav_item:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media(max-width: 300px) {
    .nav {
        font-size: var(--font-size-small);
    }
}


.nav_item {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    
    color: inherit;
    transition: all .2s;
}

.nav_item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: green;
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav_item:hover {
    color: green;
}

.nav_item:hover::after {
    right: 0;
    height: 2px;
    background: green;
}

/* Header */

.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('./images/header.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: var(--font-size-normal);
}

.header_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header_text p {
    margin: 1.5rem 0 3.5rem;
    max-width: var(--container-medium-width);
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-medium);
}

@media(max-width: 500px) {
    .header {
        text-align: center;
    }

    .header_text p {
        transform: scale(.8);
    }
}


/*----About section-----*/

.about{
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('./images/about.jpg');
        background-size: cover;
        background-repeat: no-repeat;
}

.about_content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

@media(max-width: 900px) {
    .about_content {
        flex-direction: column-reverse;
        align-items: initial;
    }
}

.about_photo-container {
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
    .about_text {
        flex: 0 0 35%;
    }
}
    
.about_photo-container {
       
        flex: 1;
        clip-path: circle(44.5% at 53% 49%);

        margin: 0 var(--gutter-huge) 0 0;

        animation: pulse 1s infinite;
        border-radius: 50%;
}

@keyframes pulse {
    from{
        box-shadow: 0 0 0 0 rgba(255,122,0.3);
    }

    to{
        box-shadow: 0 0 0 150px rgba(255,122, 0 , 0);
    }
    
}

.about_photo-container:hover{
    box-shadow: black;
}


/*---Projects---*/

#projects {
	padding-left: 80px;
}

#projects{
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
    url('./images/project.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}

#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: var(--body-bg);
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #4705fc33;
	position: relative;
}

#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #edebf538;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

#projects .item .right .project-desc {
	color: var(--black);
	margin-bottom: 3rem;
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}


.work_code{
    height: 4rem;
}

.more{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.more:hover{
    color: green;
    cursor:pointer;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}

@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}

/**-----Technologies---**/
.technologies{
    background: #07252d;
}

.tech{
    height: 20rem;
    
}

.techno{
    display:inline;
    background-color: #07252d;
    border-radius: 100px;
    box-shadow: 0 0 100px greenyellow,0 0 100px greenyellow,0 0 100px greenyellow,0 0 100px greenyellow,0 0 100px greenyellow,0 0 100px greenyellow,0 0 100px greenyellow;
}



/*---- Contact ---*/

.contact{
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('./images/connect.jpg');
        background-size: cover;
        background-repeat: no-repeat;
}
.contact__info {
    max-width: var(--container-medium-width);
}


.mail{
    position: relative;
    display: inline-block;
    height: 4rem;
}



/*---Footer---*/

.footer {
    text-align: center;
    padding: var(--gutter-medium) 0 var(--gutter-normal);
    background-color: rgb(169, 169, 228);
}

.footer_social-links {
    display: flex;
    justify-content: center;
    padding: var(--gutter-normal) 0;
    list-style: none;
}

.footer_social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer_social-image {
    height: 4rem;
}

.footer_github-buttons {
    display: flex;
    justify-content: center;
}

.footer_github-buttons iframe {
    height: 2.5rem;
    width: 84px;
    transform: translateY(3px);
}

@media(max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    } 
}